Repository AY2223S2-CS2103T-F12-1/tp, pull requests merged in 2023-04, with the labels that each got.

#228 Fix error handling
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/parser/DeleteDoctorCommandParser.java
  src/main/java/seedu/address/logic/parser/DeletePatientCommandParser.java
  src/main/java/seedu/address/logic/parser/EditDoctorCommandParser.java
  src/main/java/seedu/address/logic/parser/EditPatientCommandParser.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/test/java/seedu/address/logic/parser/DeleteDoctorCommandParserTest.java
  src/test/java/seedu/address/logic/parser/DeletePatientCommandParserTest.java
  src/test/java/seedu/address/logic/parser/EditDoctorCommandParserTest.java
  src/test/java/seedu/address/logic/parser/EditPatientCommandParserTest.java
  src/test/java/seedu/address/logic/parser/FindDoctorCommandParserTest.java
  src/test/java/seedu/address/logic/parser/FindPatientCommandParserTest.java
Labels: type.Bug, priority.High, severity.High

#231 Draft out PPP
  docs/DeveloperGuide.md
  docs/images/praveenkrishna0512.png
  docs/team/praveenkrishna0512.md
Labels: priority.Medium, type.Docs

#232 Amend Landing page
  README.md
  docs/AboutUs.md
  docs/UserGuide.md
  docs/images/NewUi.png
  docs/images/Ui.png
  docs/images/gui-display.png
  docs/index.md
Labels: priority.Low, type.Docs

#245 Fill up skeleton of Developer Guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: priority.High, type.Docs

#254 Owen PPP draft
  docs/team/johndoe.md
  docs/team/owen-yap.md
Labels: type.Docs

#257 Add test for storage
  src/main/java/seedu/address/storage/JsonSerializableAddressBook.java
  src/test/data/JsonAddressBookStorageTest/invalidAndValidPatientAddressBook.json
  src/test/data/JsonAddressBookStorageTest/invalidPatientAddressBook.json
  src/test/data/JsonAddressBookStorageTest/noDoctorsAddressBook.json
  src/test/data/JsonAddressBookStorageTest/noUnassignedPatientsAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/duplicateAssignedPatientAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/duplicateUnassignedPatientAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/invalidPatientAddressBook.json
  src/test/data/JsonSerializableAddressBookTest/patientAssignedAndUnassignedAddressBook.json
  src/test/java/seedu/address/storage/JsonAdaptedDoctorTest.java
  src/test/java/seedu/address/storage/JsonAdaptedPatientTest.java
  src/test/java/seedu/address/storage/JsonAddressBookStorageTest.java
  src/test/java/seedu/address/storage/JsonSerializableAddressBookTest.java
Labels: priority.Medium

#260 Docs/Guide updatesv1.4b
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/UserGuide.md
  docs/diagrams/ArchitectureSequenceDiagramUpdated.puml
  docs/images/ArchitectureSequenceDiagramUpdated.png
Labels: type.Docs

#264 Improve code quality in Storage tests
  src/test/java/seedu/address/storage/JsonAdaptedDoctorTest.java
  src/test/java/seedu/address/storage/JsonAdaptedPatientTest.java
  src/test/java/seedu/address/storage/JsonAdaptedPersonTest.java
  src/test/java/seedu/address/storage/JsonAddressBookStorageTest.java
  src/test/java/seedu/address/storage/JsonSerializableAddressBookTest.java
  src/test/java/seedu/address/storage/JsonUserPrefsStorageTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
Labels: type.Task, priority.Medium

#263 DocsandFix/Guide Updates and EditXYZ Command
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/model/person/EmailTest.java
  src/test/java/seedu/address/model/person/NameTest.java
  src/test/java/seedu/address/model/person/PhoneTest.java
  src/test/java/seedu/address/model/person/doctor/SpecialtyTest.java
  src/test/java/seedu/address/model/person/doctor/YoeTest.java
  src/test/java/seedu/address/model/person/patient/DiagnosisTest.java
  src/test/java/seedu/address/model/person/patient/HeightTest.java
  src/test/java/seedu/address/model/person/patient/RemarkTest.java
  src/test/java/seedu/address/model/person/patient/StatusTest.java
  src/test/java/seedu/address/model/person/patient/WeightTest.java
Labels: type.Bug, priority.High, type.Docs

#268 Fix/Developer Guide and SampleDataUtil
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/util/LoaderUtil.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/model/util/LoaderUtilTest.java
  src/test/java/seedu/address/testutil/DoctorBuilder.java
  src/test/java/seedu/address/testutil/PatientBuilder.java
  src/test/java/seedu/address/testutil/PersonBuilder.java
Labels: type.Docs

#270 Edit GUI Information within Planned Enhancements
  docs/DeveloperGuide.md
Labels: type.Docs

#273 Define terms in glossary
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.Docs

#274 Praveen PPP Final edits
  docs/DeveloperGuide.md
  docs/team/praveenkrishna0512.md
Labels: type.Docs

#275 Docs/Final PPP Updates - Vignesh
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/vigonometry.md
Labels: type.Docs

#276 Further edits to Praveen's PPP
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/praveenkrishna0512.md
Labels: type.Docs

#278 Fix error box styling
  docs/UserGuide.md
Labels: type.Docs

#280 Docs/Final Updates
  docs/DevOps.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/vigonometry.md
Labels: type.Task, priority.High

#282 Docs/Final PPP Updates
  docs/team/vigonometry.md
Labels: priority.High

#285 Add Appendix H in DG
  docs/DeveloperGuide.md
Labels: type.Docs

#284 Effort section for DG
  docs/DeveloperGuide.md
Labels: type.Docs

#286 Add known issue on Mac to UG
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
Labels: type.Docs

#290 Add reuse credit comment for Appendix H
  docs/DeveloperGuide.md
Labels: priority.High, type.Docs
